// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-bright-turquoise: #0ad9c6;
$color-mine-shaft: #1f1f1f;
$color-cod-gray: #1c1c1c;
$color-ghost: #c9ccd4;
$color-cod-gray-shade: #070707;
$color-woodsmoke: #131314;
$color-athens-gray: #f6f7f9;
$color-abbey: #48494d;
$color-wild-sand: #f6f6f6;
