.contacts {
  .contacts__container {
    padding-top: 246px;
    padding-bottom: 95px;
    padding-left: 134px;
    padding-right: 134px;
  }

  .contacts__title {
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
    color: $color-mine-shaft;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.005em;
  }

  .contacts__descr {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 555px;
    font-size: 17px;
    line-height: 31px;
    text-align: center;
    color: rgba($color: $color-black, $alpha: 0.7);
  }

  .contacts__map {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    height: 530px;
  }

  .contacts__contacts-container {
    margin: 0 auto;
    max-width: 564px;
  }

  .contacts__list {
    @include list-reset;
    display: flex;
    align-items: center;
    gap: 91px;
  }

  .contacts__item {
    display: flex;
    gap: 15px;
  }

  .contacts__link {
    font-size: 16px;
    line-height: 22px;
    color: rgba($color: $color-black, $alpha: 0.5);
    transition: color 0.3s;
  }

  &__item:hover .contacts__link,
  &__item:focus .contacts__link,
  &__item:active .contacts__link {
    color: rgba($color: $color-black, $alpha: 1);
    transition: color 0.3s;
  }

  &__item .contacts__mail {
    fill: $color-bright-turquoise;
    opacity: 1;
    transition: opacity 0.3s;
  }

  &__item:hover .contacts__mail,
  &__item:focus .contacts__mail,
  &__item:active .contacts__mail {
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  &__item .contacts__tel {
    stroke: $color-bright-turquoise;
    fill: transparent;
    opacity: 1;
    transition: opacity 0.3s;
  }

  &__item:hover .contacts__tel,
  &__item:focus .contacts__tel,
  &__item:active .contacts__tel {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
}

@include tablet {
  .contacts {
    .contacts__container {
      padding-top: 155px;
      padding-bottom: 53px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .contacts__title {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .contacts__descr {
      margin-bottom: 20px;
      max-width: 629px;
    }

    .contacts__map {
      margin-bottom: 22px;
      height: 545px;
    }

    .contacts__contacts-container {
      max-width: 559px;
    }
  }
}

@include mobile {
  .contacts {
    .contacts__container {
      padding-top: 119px;
      padding-bottom: 49px;
      padding-left: 0;
      padding-right: 0;
    }

    .contacts__title {
      font-size: 18px;
    }

    .contacts__descr {
      margin-bottom: 19px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .contacts__map {
      margin-bottom: 31px;
      height: 250px;
    }

    .contacts__contacts-container {
      padding-left: 30px;
      padding-right: 22px;
    }

    .contacts__list {
      flex-direction: column;
      gap: 25px;
    }

    &__item:first-child {
      display: flex;
      gap: 15px;
    }

    &__item:last-child {
      display: flex;
      gap: 15px;
    }

    &__item:last-child .contacts__link {
      padding-right: 20px;
    }
  }
}
