.footer {
  .footer__container {
    padding-top: 250px;
    padding-bottom: 95px;
    padding-left: 134px;
    padding-right: 134px;
  }

  .footer__title {
    margin: 0;
    margin-bottom: 29px;
    text-align: center;
    color: $color-mine-shaft;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.005em;
  }

  .footer__descr {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 555px;
    font-size: 17px;
    line-height: 31px;
    text-align: center;
    color: rgba($color: $color-black, $alpha: 0.7);
  }

  .footer__map {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    height: 530px;
  }

  .footer__footer-container {
    margin: 0 auto;
    max-width: 564px;
  }

  .footer__list {
    @include list-reset;
    display: flex;
    align-items: center;
    gap: 91px;
  }

  .footer__item {
    display: flex;
    gap: 15px;

    &:hover .footer__link,
    &:focus .footer__link,
    &:active .footer__link {
      color: rgba($color: $color-black, $alpha: 1);
      transition: color 0.3s;
    }

    &:hover .footer__mail,
    &:focus .footer__mail,
    &:active .footer__mail {
      opacity: 0.5;
      transition: opacity 0.3s;
    }

    &:hover .footer__tel,
    &:focus .footer__tel,
    &:active .footer__tel {
      opacity: 0.5;
      transition: opacity 0.3s;
    }
  }

  .footer__link {
    font-size: 16px;
    line-height: 22px;
    color: rgba($color: $color-black, $alpha: 0.5);
    transition: color 0.3s;
  }

  .footer__item .footer__mail {
    fill: $color-bright-turquoise;
    opacity: 1;
    transition: opacity 0.3s;
  }

  .footer__item .footer__tel {
    stroke: $color-bright-turquoise;
    fill: transparent;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

@include tablet {
  .footer {
    flex: 0 0 auto;

    .footer__container {
      padding-top: 155px;
      padding-bottom: 53px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .footer__title {
      margin-bottom: 20px;
      font-size: 24px;
    }

    .footer__descr {
      margin-bottom: 20px;
      max-width: 629px;
    }

    .footer__map {
      margin-bottom: 22px;
      height: 545px;
    }

    .footer__footer-container {
      max-width: 559px;
    }
  }
}

@include mobile {
  .footer {
    .footer__container {
      // margin-top: 119px;
      margin-top: 39vw;
      padding-top: 0;
      padding-bottom: 49px;
      padding-left: 0;
      padding-right: 0;

      @media (min-width: 545px) {
        margin-top: 190px;
      }
    }

    .footer__title {
      font-size: 18px;
    }

    .footer__descr {
      margin-bottom: 19px;
      padding-left: 35px;
      padding-right: 35px;
    }

    .footer__map {
      margin-bottom: 31px;
      height: 250px;
    }

    .footer__footer-container {
      padding-left: 30px;
      padding-right: 22px;
    }

    .footer__list {
      flex-direction: column;
      gap: 25px;
    }

    .footer__item {
      &:first-child {
        display: flex;
        gap: 15px;
      }

      &:last-child {
        display: flex;
        gap: 15px;
      }

      &:last-child .footer__link {
        padding-right: 20px;
      }
    }
  }
}
