.form {
  width: 327px;

  &__title {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;
    color: $color-white;
  }

  &__input {
    margin-bottom: 20px;
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 29px;
    width: 100%;
    border: 1px solid $color-ghost;
    border-radius: 6px;
    font-size: 15px;
    line-height: 24px;
    color: rgba($color: $color-cod-gray, $alpha: 0.5);
  }

  &__input:focus:invalid {
    outline: none;
    border: 1px solid $color-red;
  }

  &__input:focus:valid {
    outline: none;
    border: 1px solid $color-green;
  }

  &__button {
    padding: 15px 47px;
    width: 100%;
    border-radius: 6px;
    color: $color-black;
    background-color: $color-bright-turquoise;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    transition: color 0.3s, background-color 0.3s;
  }

  &__button:hover {
    color: $color-woodsmoke;
    background-color: $color-ghost;
    transition: color 0.3s, background-color 0.3s;
  }

  &__button:focus,
  &__button:active {
    color: $color-woodsmoke;
    background-color: $color-ghost;
  }
}

@include tablet {
  .form {
    width: 321px;

    &__title {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 29px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: $color-black;
    }

    &__input {
      margin-bottom: 18px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 21px;
    }
  }
}

@include mobile {
  .form {
    max-width: 288px;

    &__title {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: $color-black;
    }

    &__input {
      margin-bottom: 18px;
      padding-top: 13px;
      padding-bottom: 11px;
      padding-left: 26px;
    }

    &__button {
      padding: 15px 33px;
    }
  }
}
