.promo {
  background: url("/img/promo-bg.jpg") no-repeat center / cover;
  background-color: $color-black;

  @media (resolution: 2dppx) {
    background: url("/img/promo-bg@2x.jpg") no-repeat center / cover;
  }

  .promo__container {
    padding: 318px 173px 219px 173px;
    display: flex;
    justify-content: space-between;
  }

  .promo__logo {
    display: block;
    margin-bottom: 30px;
  }

  .promo__title {
    margin: 0;
    margin-bottom: 25px;
    max-width: 393px;
    font-weight: 700;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: -0.005em;
    color: $color-white;
  }

  .promo__descr {
    max-width: 381px;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.005em;
    opacity: 0.8;
    color: $color-white;

    @media (max-width: 1065px) {
      max-width: 345px;
    }

    @media (max-width: 1040px) {
      max-width: 340px;
      font-size: 19px;
    }
  }
}

@include tablet {
  .promo {
    position: relative;
    background-image: url("../../img/promo-bg.jpg");
    background-position: center;
    background-size: cover;

    @media (resolution: 2dppx) {
      background-image: url("../../img/promo-bg@2x.jpg");
    }

    .promo__container {
      padding: 135px 143px 63px 143px;
      display: block;
    }

    .promo__logo {
      position: absolute;
      top: 25px;
      left: 21px;
    }

    .promo__title {
      margin-bottom: 18px;
      max-width: 100%;
      font-size: 30px;
      line-height: 42px;
      text-align: center;
    }

    .promo__descr {
      max-width: 100%;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }

    .promo__second-part {
      min-width: 288px;
      position: absolute;
      bottom: -342px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@include mobile {
  .promo {
    background-size: cover;

    @media (resolution: 2dppx) {
      background-position: top 60px;
    }

    .promo__container {
      padding: 121px 15px 53px 15px;
    }

    .promo__logo {
      left: 18px;
    }

    .promo__title {
      margin-bottom: 19px;
      max-width: 767px;
      font-size: 30px;
      line-height: 42px;
    }

    .promo__descr {
      max-width: 767px;
    }

    .promo__second-part {
      position: absolute;
      bottom: -360px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
